
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/*====Variables====*/
:root {
  --basic-black: #000000;
  --basic-black-transp: rgba(0, 0, 0, 0.3);
  --basic-white: #ffffff;
  --basic-white-transp: rgba(255, 255, 255, 0.3);
  --basic-white-transp-max: rgba(255, 255, 255, 0.7);
  --special-yellow-one: #F0C52E;
  --special-yellow-two: #F0C42E;
  --special-yellow-light: #F7E296;
  --special-yellow-dark: #FFC600;
  --basic-grey-light: #E5E5E5;
  --basic-dark-light: #363636;
  --basic-dark: #3A3A3A;
  --basic-dark-dark: #231F20;
  --input-grey: #F2F2F2;
}

/*====Global====*/

body {
  width: 1440px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;  
}

img {
  max-width: 100%;  
}

a {
  text-decoration: none;
  color:inherit;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.btn {
  background-image: 
  linear-gradient(
    transparent 37%,
    var(--special-yellow-light) 37%,
    var(--special-yellow-light) 63%,
    transparent 63% 
  );   
}

/*====Grid====*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*==========index.html==========*/

/*====header====*/

header {
  position: relative;
  width: 1160px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: -130px;
  background-color: var(--special-yellow-light);
}

header .logo {
  position: absolute;
  margin-left: 60px;
  margin-top: -20px;  

}

.user-navigation {
  display: flex;
  width: 1040px;
  margin: auto;
  margin-top: 44px;
}

.header-navigation {
  width: 1046px;
  margin: auto;
}

.search {
  margin-right: auto;
  margin-left: 38px;
  line-height: 20px; 
  color: var(--basic-black-transp); 
}

.search::before {
  content: " ";
  position: absolute;
  width: 13px;
  height: 13px;
  left: 60px;
  top: 47px;
  background-image: url(../img/icon_search.svg);  
}

header .additional-navigation {
  position: relative;
  display: flex;  
  width: 500px;
  line-height: 20px;
}

.additional-navigation .login {
  position: relative;
  margin-left: 25px;
}

header .login::before {  
  background-image: url(../img/icon_user.svg);
}

header .compare {
  position: relative;
  margin-left: auto;
}

header .compare::before {  
  background-image: url(../img/icon_chart.svg);
}

header  .basket {
  position: relative;
  margin-left: 65px;
}

header .login::before,
header .compare::before,
header  .basket::before {
  content: " ";
  position: absolute;
  width: 13px;
  height: 13px;
  left: -25px;
  top: 5px;
}

header .basket::before {
  width: 10px;
  height: 10px;
  left: -23px;  
  background-image: url(../img/icon_cart.svg);
}


.navigation-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .navigation-item {
  margin-top: 50px;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;  
}

.catalog-items {
  position: relative;
  z-index: -10;
  display: grid;
  grid-template-columns: 240px 186px 1fr;
  grid-template-areas:
    "vr sb q"
    "mp sw ."
    "ac . .";
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 42px;
  list-style: none;
}

.vr {
  grid-area: vr;
} 

.sb {
  grid-area: sb;
} 

.q {
  grid-area: q;
}
    
.mp {
  grid-area: mp;
} 

.sw {
  grid-area: sw;
} 

.ac {
  grid-area: ac;
}

.catalog-add {
  position: relative;  
}

.catalog-add::after {
  content: " ";
  position: absolute;
  width: 22px;
  height: 22px;
  right: -37px;  
  background-image: url(../img/icon_plus.svg);
}

.navigation-catalog:hover .catalog-items {
  z-index: 10;
}

.catalog-item {
  margin-top: 16px;  
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}

.navigation-items .navigation-catalog {
  width: 540px;  
  margin-left: 3px;
  letter-spacing: 0.1em;
}

header .navigation-guarantee {
  margin-left: 36px;
}

header .navigation-contacts {
  margin-left: auto;
}

/*====promo====*/

.promo {
  position: relative;
  z-index: 10;
  width: 1040px;
  margin: auto;  
}

.promo-article {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}  

.tagline {  
  margin: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-left: 20px;
  padding-right: 0; 
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;  
}

.number {
  position: absolute;
  z-index: -10;
  top: -18px;
  right: -13px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 179px;
  line-height: 219px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--basic-white);
}

.number::before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 7px;
  top: 53px;
  left: -330px;
  background-color: var(--basic-white);
}

.promo-img {  
  margin-left: 29px;
}

.promo-content {  
  margin: 0;
  width: 472px;
  min-height: 90px;
  padding-top: 26px;
  padding-left: 20px;  
  line-height: 20px;
}

.promo-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-box {   
  display: flex; 
  padding-top: 5px;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.promo-sliders {
  display: flex;
  margin-left: auto;
  margin-right: 28px;
  list-style: none;
}

.promo-slider {  
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 18px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

.promo-slider-active {
  box-shadow: 
    inset 0 0 0 2px var(--basic-white),
    inset 0 0 0 3px var(--basic-black);
  
}

.promo-box .btn {
  display: inline-block;
  vertical-align: center;
  margin: 0;
  margin-left: 20px;  
  padding: 5px 39px 5px 45px;
}

.parameters-items {    
  padding-top: 46px;
}

.parameters-items td {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 7px;
  vertical-align: bottom;
}

.td-value {  
  min-width: 136px;
  margin: 0;
  padding: 0;  
  font-family: 'Gilroy', sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.parameters-items .td-value:nth-child(3) {
  padding-left: 0;
}

.parameters-items .td-value:only-child {
  padding-left: 20px;
}


.parameters-items .td-parameter {  
  padding-top: 13px;
  font-family: 'Gilroy', sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.parameters-items .td-parameter:last-child {
  padding-left: 4px;
}

/* .selfie-stick {
  display: none;
} */

.smart-band {
  display: none;
}

.quadcopter {
  display: none;
}

.smart-band .promo-img {
  padding-top: 27px;
  padding-left: 27px;
}

.smart-band .number {
  right: -5px;
}

.quadcopter .promo-img {
  max-width: 526px;
  padding-top: 84px;
  margin-left: -30px;
}

.quadcopter .number {
  right: -5px;
  top: -15px;
}

.quadcopter .number::before {
  top: 50px;
  left: -300px;
}

/*====best====*/

.best {
  width: 1160px;
  margin: auto;
  padding-top: 114px;
}

.best-items {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.best-item {
  width: 160px;  
}

.best-item:not(:last-child) {
  margin-right: 40px;
}

.svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 39px;
  background-color: var(--special-yellow-light);
}

.svg-box-down {
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 26px;
}

.best-item h3 {
  margin: 0;
  padding: 0; 
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.best-item .not-ls {
  letter-spacing: 0;
}

/*====service====*/

.services {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 470px;
  padding-top: 133px;
  padding-bottom: 105px; 
  background-image: linear-gradient(
    transparent 39%,
    var(--basic-grey-light) 39%,
    var(--basic-grey-light) 100%   
  );
}

.services-items {
  position: relative;
  width: 443px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-items::after {
  content: " ";
  position: absolute;
  top: -50px;
  right: 19px;
  width: 7px;
  height: 138%;
  background-color: var(--basic-black);
} 

.services-item {    
  padding-top: 39px;  
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.services-item .btn {
  display: inline-block;
  width: 160px;  
}

.services-item-active {
  position: relative;
}

.services-item-active::before {
  content: " ";
  position: absolute;  
  top: 30px;
  width: 277px;
  height: 40px;
  background-color: var(--basic-black);
}

.services-item-active .btn {
  position: relative;
  z-index: 1;
  background-image: none;
  color: var(--special-yellow-light);
}

.services-contents {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-content {
  position: relative;
  width: 495px;
  margin-top: 21px;
  margin-left: 98px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.services-content h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-right: 10px;
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.service-delivery {
  /* display: none; */
}

.service-delivery::after {
  content: "";
  position: absolute;
  top: 0;
  right: -262px;
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery.svg);
}

.service-guarantee {
  display: none;
  width: 570px;
  line-height: 30px;
}

.service-guarantee::after {
  content: "";
  position: absolute;
  top: -18px;
  right: -280px;
  width: 171px;
  height: 195px;
  background-image: url(../img/warranty.svg);
}

.service-credit {
  display: none;
  width: 550px;
}

.service-credit::after {
  content: "";
  position: absolute;
  top: -23px;
  right: -257px;
  width: 156px;
  height: 188px;
  background-image: url(../img/credit.svg);
}

/*====producers====*/

.producers-items {
  display: flex;
  margin: 0;
  margin-top: 90px;
  padding: 0;
  list-style: none;
}

.producers-item {
  margin-right: 40px;
}

.producers-item:first-child {
  margin-left: auto;
}

.producers-item:last-child {
  margin-right: auto;
}

/*====box-info-contacts====*/

.box-info-contacts {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  width: 1160px;
  margin: auto;
  margin-bottom: 5px;
  padding-top: 101px;
}

.box-info-contacts h2 {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 40px;
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.box-info-contacts h2::before {
  content: "";
  position: absolute;
  top: -18px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.box-info-contacts .content {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.box-info-contacts .btn {
  display: inline-block;
  margin-top: 72px;
  padding: 5px 17px 5px 25px;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*====info====*/

.info {
  padding-right: 105px;
}

.transport-items {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 32px;
  list-style: none;
}

.transport-item {    
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;   
}

.transport-item:not(:last-child) {  
  padding-bottom: 15px;
} 

/*====contacts====*/

.contacts .btn {
  padding: 5px 38px 5px 40px;
}

/*====footer====*/

footer {
  display: grid;
  grid-template-areas: 
   "fl anf anf"
   "ad fn cp"
   ". soc cr";
  grid-template-columns: 352px 460px 1fr;
  margin-top: 76px;
  padding: 42px 137px 57px 140px;
  color: var(--basic-white);
  background-color: var(--basic-dark-light);
}

footer .logo {  
  grid-area: fl;
  margin-top: 22px;
  margin-bottom: 25px;
}

.additional-navigation-footer {  
  grid-area: anf;
  display: flex;
  justify-content: flex-end;  
  padding-left: 22px;
  padding-right: 3px;
}

.additional-navigation-footer a {
  position: relative;
  margin-left: 65px;
}

.additional-navigation-footer .login::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -24px;
  width: 13px;
  height: 14px;
  background-image: url(../img/icon_user_f.svg);
}

.additional-navigation-footer .compare::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -24px;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon_chart_f.svg);
}

.additional-navigation-footer .cart::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -22px;
  width: 10px;
  height: 10px;
  background-image: url(../img/icon_cart_f.svg);
}

address {
  position: relative;
  grid-area: ad;
  margin-top: 7px;
  font-style: normal;
  line-height: 20px;
}

address::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

.footer-navigation {
  grid-area: fn;
  margin-top: 6px;
}

.footer-navigation .navigation-items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase; 
}

.contacts-phone {
  grid-area: cp;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  padding-right: 3px;
  text-align: end;
}

.contacts-phone .phone{
  margin-left: 4px;
}

.social {
  grid-area: soc;
  display: flex;  
  margin: 0;
  margin-top: 64px;  
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.social-item a {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  margin-left: 8px; 
}

.social-fb a {  
  background-image: url(../img/fb.svg);
  background-repeat: no-repeat;
}

.social-ig a {  
  background-image: url(../img/ig.svg);
  background-repeat: no-repeat;
}

.social-tw a {  
  background-image: url(../img/tw.svg);
  background-repeat: no-repeat;
}

.copyright {
  grid-area: cr;
  width: 30px;
  height: 34px;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 7px;
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
}

/*====write-us====*/

.write-us-box {
  position: absolute;
  z-index: 10;
  display: inline-block;
  width: 1440px;
  vertical-align: middle;
}

.write-us {  
  box-sizing: border-box; 
  top: 1200px;  
  width: 960px;
  margin: auto;
  padding: 92px 100px 66px;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.name-email-box {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  margin-bottom: 31px;
}

.write-us label {  
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.write-us input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding: 17px 20px 15px;
  margin: 0;
  margin-top: 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: none;
  background-color: var(--input-grey);
}

.write-us button {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.mail-content {
  display: block;  
}

.textarea-write {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding: 17px 20px 15px;
  margin: 0;
  margin-top: 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: none;
  background-color: var(--input-grey);
}

.write-us .btn {  
  margin: 0;
  margin-top: 45px;
  padding: 0;
  padding: 3px 35px;
  border: none;
  text-transform: uppercase;
  background-image: linear-gradient( 
    var(--basic-white) 37%, 
    var(--special-yellow-light) 37%, 
    var(--special-yellow-light) 63%, 
    var(--basic-white) 63% 
    );
}

/*==========catalog.html==========*/

/*====user-navigation-login====*/

header .login-in {
  margin-left: 24px;
  margin-right: 22px;
}

.catalog-h1 {
  margin: 0;
  padding: 60px 200px 17px 200px;
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;  
}

/*====main-navigation====*/

.main-navigation {
  width: 1120px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;  
}

.breadcrumbs {
  display: flex;
  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 41px;
}

/*====catalog-box====*/

.catalog-box {
  display: grid;
  grid-template-areas: 
  "sc sr"
  "sc r"
  "sc p";
  grid-template-columns: 468px 1fr;
  margin-top: 50px;
}


/*====search-catalog====*/

.search-catalog {
  grid-area: sc;
  margin-left: 200px;
  margin-right: auto;
}

.search-catalog h2 {  
  margin: 0;
  margin-top: 24px;
  margin-bottom: 112px;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;  
  text-transform: uppercase;
}

.search-catalog .btn {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter {
  margin: 0;
  padding: 0;
  border: none;
}

.filter {
  margin-bottom: 55px;
}

.filter legend {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  letter-spacing: 0.1em
}

.price-controls {
  display: flex;
  margin-top: 56px;
}

.price-center {  
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;  
}

.price-center input {
  display: inline-block;
  width: 80px;  
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  border: none;
}

.color-item,
.bluetooth-item {
  margin-left: 26px;
  font-size: 14px;
  line-height: 19px;
}

.bluetooth-item {
  margin-left: 24px;
}

.color-items,
.bluetooth-items {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  list-style: none;
}

.color-item:not(:last-child),
.bluetooth-item:not(:last-child) {
  margin-bottom: 20px;  
}

.filter-bluetooth {
  margin-bottom: 50px;
}

.search-catalog .btn {
  display: inline-block;  
  padding: 3px 37px;
  border: none;
}

/*====sorting-rating====*/

.sorting-rating {
  grid-area: sr;
  display: flex;
  padding: 24px 140px 24px 72px;
}

.sorting-rating h2 {
  margin: 0;  
  margin-right: 67px;
  padding: 0; 
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item .btn {
  border: none;
  background: none;
}

.sorting-option {
  margin-right: 18px;
  font-size: 14px;
  line-height: 19px;
}

.sorting-down {
  margin-right: 10px;
}

/*====results====*/

.results {
  grid-area: r;
}

.results h3 {
  display: inline-block;
  margin: 0;  
  padding: 31px 80px 31px 0;  
  font-family: 'Gilroy', "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.results-items {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
  row-gap: 18px;
  margin: 0;
  padding: 62px 178px 8px 72px;  
  list-style: none;
}
.title-box {
  position: relative;
}

.results .price {
  position: absolute;
  width: 85px;
  top: 32px;
  right: -5px;
  text-align: center;
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.title-box-sm .price {
  top: 33px;
  right: 2px;
}

.title-box-ss .price {
  top: 35px;
  right: -2px;
}

.results-item img {
  position: relative;
  z-index: 10;
}

.hover-box {
  position: relative;
  z-index: -10;
  box-sizing: border-box;
  width: 300px;
  height: 380px;
  margin: auto;
  margin-top: -388px;
  padding-top: 180px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;  
}

.hover-box .add,
.hover-box .btn-box {
  display: block;
  margin-bottom: 22px;
  text-align: center;
}

.btn-box a {
  box-sizing: border-box;
  padding: 3px 37px;  
}

.hover-box .btn {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*====pages====*/

.pages {
  grid-area: p;
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-left: 73px;
  margin-right: auto;
/*   background-color: blue; */
}

.back-forward {
  display: inline-block;
  padding: 24px 30px;
}

.pages {  
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.pages-items {
  display: flex;
  justify-content: space-between;  
  margin: 0;
  margin-left: 4px;  
  padding: 0;
  list-style: none;
}

.pages-item {
  padding: 23px 15px;
}

/*====footer-login====*/

.footer-login {
  
}