@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/*====Variables====*/
:root {
  --basic-black: #000000;
  --basic-black-transp: rgba(0, 0, 0, 0.3);
  --basic-black-transp-max: rgba(0, 0, 0, 0.8);
  --basic-black-transp-min: rgba(0, 0, 0, 0.6);
  --basic-black-transp-max: rgba(0, 0, 0, 0.1);
  --basic-white: #ffffff;
  --basic-white-transp: rgba(255, 255, 255, 0.3);
  --basic-white-transp-max: rgba(255, 255, 255, 0.7);
  --special-yellow-one: #f0c52e;
  --special-yellow-two: #f0c42e;
  --special-yellow-light: #f7e296;
  --special-yellow-dark: #ffc600;
  --basic-grey-light: #e5e5e5;
  --basic-dark-light: #363636;
  --basic-dark: #3a3a3a;
  --basic-dark-dark: #231f20;
  --dark-hover-grey: #d9d9d9;
  --input-grey: #f2f2f2;
  --close: rgba(247, 226, 150, 0.5);
  --close-light: rgba(247, 226, 150, 1);
  --back-grey: #dcdcdc;
  --for-hover: rgba(238, 238, 238, 0.7);
  --page-background: #ebebeb;
  --hover-background: #eaeaea;
  --error: #f6dada;
  --box-shadow: rgba(0, 0, 0, 0.18);
  --special-green: #91c92f;
  --scale: rgba(0, 0, 0, 0.2);
}

/*====Global====*/

body {
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.btn {
  background-image: linear-gradient(transparent 37%,
      var(--special-yellow-one) 37%,
      var(--special-yellow-one) 63%,
      transparent 63%);
}

.size {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.size-min {
  width: 832px;
  margin-right: calc((100vw - 1160px) / 2);
  ;
}

/*====Grid====*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*==========index.html==========*/

/*====header====*/

header {
  position: relative;
  /* width: 1160px; */
  margin: auto;
  margin-top: 40px;
  margin-bottom: -130px;
  background-color: var(--special-yellow-light);
}

header .logo {
  position: absolute;
  margin-left: 60px;
  margin-top: -20px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  margin: auto;
  margin-top: 44px;
}

.header-navigation {
  width: 1046px;
  margin: auto;
}

.search {
  margin-right: auto;
  margin-left: 0;
  line-height: 20px;
  color: var(--basic-black-transp);
}

.search button,
.search input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
}

.search button {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 18px;
  width: 16px;
  height: 16px;
}

.search input {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
}

.search input::placeholder {
  color: var(--basic-black-transp);
}

header .additional-navigation {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  line-height: 20px;
}

.additional-navigation .login {
  position: relative;
  margin-left: 25px;
}

header .login::before,
header .login-in::before {
  background-image: url(../img/icon_user.svg);
}

header .compare {
  position: relative;
  margin-left: auto;
}

header .compare::before {
  background-image: url(../img/icon_chart.svg);
}

header .basket {
  position: relative;
  margin-left: 65px;
}

header .login::before,
header .compare::before,
header .basket::before,
header .login-in::before {
  content: " ";
  position: absolute;
  width: 13px;
  height: 13px;
  left: -25px;
  top: 5px;
}

header .basket::before {
  width: 10px;
  height: 10px;
  left: -23px;
  background-image: url(../img/icon_cart.svg);
}

.navigation-items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .navigation-item {
  margin-top: 50px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

header .navigation-item:nth-child(2) {
  margin-left: 315px;
}

.catalog-items {
  position: relative;
  z-index: -10;
  display: grid;
  grid-template-columns: 240px 186px 1fr;
  grid-template-areas:
    "vr sb q"
    "mp sw ."
    "ac . .";
  box-sizing: border-box;
  /* width: 1160px; */
  margin: 0;
  margin-left: -60px;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 42px;
  padding-left: 60px;
  list-style: none;
  background-color: var(--special-yellow-light);
}

.vr {
  grid-area: vr;
}

.sb {
  grid-area: sb;
}

.q {
  grid-area: q;
}

.mp {
  grid-area: mp;
}

.sw {
  grid-area: sw;
}

.ac {
  grid-area: ac;
}

.catalog-add {
  position: relative;
}

.catalog-add::after {
  content: " ";
  position: absolute;
  width: 22px;
  height: 22px;
  right: -37px;
  background-image: url(../img/icon_plus.svg);
}

.navigation-catalog:hover .catalog-items,
.navigation-catalog:focus .catalog-items {
  z-index: 10;
}

.catalog-item {
  margin-top: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}

.navigation-items .navigation-catalog {
  width: 225px;
  margin-left: 3px;
  letter-spacing: 0.1em;
}

header .navigation-guarantee {
  margin-left: 36px;
}

header .navigation-contacts {
  margin-left: auto;
}

/*====promo====*/

.promo {
  position: relative;
  z-index: 5;
  width: 1040px;
  margin: auto;
}

.promo-article {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 512px;
}

.tagline {
  margin: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-left: 20px;
  padding-right: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
}

.number {
  position: absolute;
  z-index: -10;
  top: -18px;
  right: -13px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 179px;
  line-height: 219px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--basic-white);
}

.number::before {
  content: " ";
  position: absolute;
  width: 100px;
  height: 7px;
  top: 53px;
  left: -330px;
  background-color: var(--basic-white);
}

.promo-img {
  margin-left: 29px;
}

.promo-content {
  margin: 0;
  width: 472px;
  min-height: 90px;
  padding-top: 26px;
  padding-left: 20px;
  line-height: 20px;
}

.promo-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-box {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.promo-sliders {
  position: absolute;
  right: 0;
  top: 317px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 28px;
  list-style: none;
}

.promo-slider {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  margin-left: 18px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.promo-slider-active {
  box-shadow: inset 0 0 0 2px var(--basic-white),
    inset 0 0 0 3px var(--basic-black);
}

.promo-box .btn {
  display: inline-block;
  vertical-align: center;
  margin: 0;
  margin-left: 20px;
  padding: 5px 39px 5px 45px;
}

.parameters-items {
  padding-top: 46px;
}

.parameters-items td {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 7px;
  vertical-align: bottom;
}

.td-value {
  min-width: 136px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.parameters-items .td-value:nth-child(3) {
  padding-left: 0;
}

.parameters-items .td-value:only-child {
  padding-left: 20px;
}

.parameters-items .td-parameter {
  padding-top: 13px;
  font-family: "Gilroy", sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.parameters-items .td-parameter:last-child {
  padding-left: 4px;
}

.smart-band .promo-img {
  padding-top: 27px;
  padding-left: 27px;
}

.smart-band .number {
  right: -5px;
}

.quadcopter .promo-img {
  max-width: 526px;
  padding-top: 84px;
  margin-left: -30px;
}

.quadcopter .number {
  right: -5px;
  top: -15px;
}

.quadcopter .number::before {
  top: 50px;
  left: -300px;
}

/*====best====*/

.best {
  /*  width: 1160px; */
  margin: auto;
  padding-top: 94px;
}

.best-items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.best-item {
  width: 160px;
}

.best-item:not(:last-child) {
  margin-right: 40px;
}

.svg-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 38px;
  background-color: var(--special-yellow-light);
}

.svg-box-down {
  align-items: flex-start;
  box-sizing: border-box;
  padding-top: 26px;
}

.best-item h3 {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.best-item .not-ls {
  letter-spacing: 0;
}

/*====service====*/

.services {
  background-image: linear-gradient(transparent 39%,
      var(--basic-grey-light) 39%,
      var(--basic-grey-light) 100%);
}

.services-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  min-height: 472px;
  padding-top: 135px;
  padding-bottom: 105px;
}

.services-items {
  position: relative;
  width: 284px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-items::after {
  content: " ";
  position: absolute;
  top: -50px;
  right: 0;
  width: 7px;
  height: 139%;
  background-color: var(--basic-black);
}

.services-item {
  padding-top: 34px;
}

.services-item .btn {
  display: inline-block;
  width: 160px;
  border: none;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
}

.services-item .services-active {
  position: relative;
  z-index: 1;
  background-image: none;
  color: var(--special-yellow-light);
  outline: none;
}

.services-active::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -7px;
  left: 0;
  width: 277px;
  height: 40px;
  background-color: var(--basic-black);
}

.services-contents {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-content {
  position: relative;
  width: 495px;
  margin-top: 20px;
  margin-left: 116px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.services-content h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-right: 10px;
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.service-delivery::after {
  content: "";
  position: absolute;
  top: 0;
  right: -262px;
  width: 136px;
  height: 164px;
  background-image: url(../img/delivery.svg);
}

.service-guarantee {
  width: 570px;
  line-height: 30px;
}

.service-guarantee::after {
  content: "";
  position: absolute;
  top: -18px;
  right: -280px;
  width: 171px;
  height: 195px;
  background-image: url(../img/warranty.svg);
}

.service-credit {
  width: 550px;
}

.service-credit::after {
  content: "";
  position: absolute;
  top: -23px;
  right: -257px;
  width: 156px;
  height: 188px;
  background-image: url(../img/credit.svg);
}

/*====producers====*/

.producers-items {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 90px;
  padding: 0;
  list-style: none;
}

.producers-item {
  margin-right: 40px;
}

.producers-logo {
  display: inline-block;
  width: 260px;
  height: 100px;
}

.dji {
  background-image: url(../img/logo-1.png);
}

.sp-gadgets {
  background-image: url(../img/logo-2.png);
}

.gopro {
  background-image: url(../img/logo-3.png);
}

.vive {
  background-image: url(../img/logo-4.png);
}

.producers-item:first-child {
  margin-left: auto;
}

.producers-item:last-child {
  margin-right: auto;
}

/*====box-info-contacts====*/

.box-info-contacts {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  /* width: 1160px; */
  margin: auto;
  margin-bottom: 5px;
  padding-top: 100px;
}

.box-info-contacts h2 {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 40px;
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.box-info-contacts h2::before {
  content: "";
  position: absolute;
  top: -18px;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

.box-info-contacts .content {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.box-info-contacts .btn {
  display: inline-block;
  margin-top: 72px;
  padding: 5px 17px 5px 25px;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*====info====*/

.info {
  padding-right: 105px;
}

.transport-items {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 32px;
  list-style: none;
}

.transport-item {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;
}

.transport-item:not(:last-child) {
  padding-bottom: 15px;
}

/*====contacts====*/

.contacts .btn {
  padding: 5px 38px 5px 40px;
}

/*====footer====*/

footer {
  background-color: var(--basic-dark-light);
  margin-top: 76px;
}

.footer-box {
  display: grid;
  grid-template-areas:
    "fl anf anf"
    "ad fn cp"
    ". soc cr";
  grid-template-columns: 352px 460px 1fr;
  padding: 42px 0 57px 0;
  color: var(--basic-white);
}

.footer-login .footer-box {
  padding-right: 3px;
}

footer .logo {
  grid-area: fl;
  margin-top: 22px;
  margin-bottom: 25px;
}

.additional-navigation-footer {
  grid-area: anf;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-left: 22px;
  color: var(--basic-white-transp-max);
}



.additional-navigation-footer a {
  position: relative;
  margin-left: 65px;
}

.additional-navigation-footer .login::before,
.additional-navigation-footer .login-in::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -24px;
  width: 13px;
  height: 14px;
  background-image: url(../img/icon_user_f.svg);
}

.additional-navigation-footer .compare::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -24px;
  width: 14px;
  height: 14px;
  background-image: url(../img/icon_chart_f.svg);
}

.additional-navigation-footer .cart::before {
  content: "";
  position: absolute;
  top: 9px;
  left: -22px;
  width: 10px;
  height: 10px;
  background-image: url(../img/icon_cart_f.svg);
}

address {
  position: relative;
  grid-area: ad;
  margin-top: 7px;
  font-style: normal;
  line-height: 20px;
}

address::after {
  content: "";
  position: absolute;
  top: 100px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

.footer-navigation {
  grid-area: fn;
  margin-top: 6px;
}

.footer-navigation .navigation-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.contacts-phone {
  grid-area: cp;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  /* padding-right: 3px; */
  text-align: end;
}



.contacts-phone .phone {
  margin-left: 4px;
}

.social {
  grid-area: soc;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.social-item a {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  margin-left: 8px;
}

.social-item svg {
  fill-opacity: 0.3;
}

.copyright {
  grid-area: cr;
  width: 30px;
  height: 34px;
  margin-top: auto;
  margin-left: auto;
  margin-right: -2px;
  margin-bottom: 7px;
  background-image: url(../img/logo-html.svg);
  background-repeat: no-repeat;
}

.footer-other {
  margin-top: auto;
}

/*====write-us====*/

.close {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 20px;
  right: 20px;
  background-image: url(../img/clouse.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: var(--close);
  border-radius: 50%;
  border: none;
}

.write-us {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 960px;
  height: 550px;
  padding: 92px 100px 66px;
  background-color: var(--basic-white);
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
}

.name-email-box {
  display: grid;
  grid-template-columns: 360px 360px;
  gap: 40px;
  margin-bottom: 31px;
}

.write-us label {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.write-us input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding: 17px 20px 15px;
  margin: 0;
  margin-top: 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  background-color: var(--input-grey);
}

.write-us .btn {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  padding: 3px 35px;
  border: none;
  text-transform: uppercase;
  background-image: linear-gradient(var(--basic-white) 37%,
      var(--special-yellow-light) 37%,
      var(--special-yellow-light) 63%,
      var(--basic-white) 63%);
  cursor: pointer;
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.mail-content {
  display: block;
}

.textarea-write {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  padding: 17px 20px 15px;
  margin: 0;
  margin-top: 10px;
  border: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  background-color: var(--input-grey);
}

.write-us-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

/*====map====*/

.map {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 994px;
  height: 593px;
}

.map iframe {
  background-image: url(../img/map_popup.png);
  background-repeat: no-repeat;
}

/*==========catalog.html==========*/

/*====user-navigation-login====*/

header .login-in {
  position: relative;
  margin-left: 24px;
  margin-right: 22px;
}

.login-in::before {
  width: 13px;
  height: 14px;
  left: -24px;
  top: 5px;
}

header .logout {
  color: var(--basic-black-transp);
}

.catalog-h1 {
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  /* width: 1160px; */
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 50px 17px 60px;
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  background-image: linear-gradient(var(--special-yellow-light) 12%,
      var(--basic-white) 12%,
      var(--basic-white) 100%);
}

/*====main-navigation====*/

.main-navigation {
  width: 1120px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 300;
  color: var(--basic-black-transp);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.breadcrumbs-item:not(:last-child) {
  position: relative;
  margin-right: 41px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -24px;
  width: 10px;
  height: 10px;
  background-image: url(../img/icon_arrow_nav.svg);
  background-position: center center;
  background-repeat: no-repeat;
}

.breadcrumbs-item:nth-child(2)::after {
  right: -27px;
}

/*====catalog-box====*/

.catalog-box {
  display: grid;
  grid-template-areas:
    "sc sr"
    "sc r"
    "sc p";
  grid-template-columns: calc(((100vw - 1160px) / 2) + 324px) 1fr;
  margin-top: 49px;
}

/*====search-catalog====*/

.search-catalog-box {
  box-sizing: border-box;
  width: 268px;
  margin-left: calc((100vw - 1160px) / 2);
  margin-right: 0;
  padding-left: 56px;
}

.search-catalog {
  grid-area: sc;
  background-image: linear-gradient(var(--back-grey) 70px,
      var(--basic-grey-light) 70px,
      var(--basic-grey-light) 100%);
}



.search-catalog h2 {
  margin: 0;
  margin-top: 25px;
  margin-bottom: 112px;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.search-catalog .btn {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter {
  position: relative;
  margin: 0;
  margin-bottom: 54px;
  padding: 0;
  border: none;
}

.filter legend::before {
  position: absolute;
  content: "";
  width: 200px;
  height: 2px;
  top: -16px;
  background-color: var(--basic-dark-dark);
}

.filter legend {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  letter-spacing: 0.1em;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
  margin-top: 57px;
}

.price-center {
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}

.price-center input {
  display: inline-block;
  width: 80px;
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
  border: none;
  background-color: transparent;
}

.color-item,
.bluetooth-item {
  margin-left: 26px;
  font-size: 14px;
  line-height: 19px;
}

.bluetooth-item {
  margin-left: 24px;
}

.color-items,
.bluetooth-items {
  margin: 0;
  margin-top: 33px;
  padding: 0;
  list-style: none;
}

.color-item:not(:last-child),
.bluetooth-item:not(:last-child) {
  margin-bottom: 20px;
}

.filter-bluetooth {
  margin-bottom: 50px;
}

.search-catalog .btn {
  display: inline-block;
  padding: 3px 43px 3px 37px;
  border: none;
  background-image: linear-gradient(var(--basic-grey-light) 37%,
      var(--special-yellow-one) 37%,
      var(--special-yellow-one) 63%,
      var(--basic-grey-light) 63%);
}

/*====sorting-rating====*/

.sorting-rating-box {
  grid-area: sr;
  background-color: var(--basic-grey-light);
}

.sorting-rating {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 25px 0 25px 72px;
}



.sorting-rating h2 {
  margin: 0;
  margin-right: 67px;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-item button {
  color: var(--basic-black-transp);
  border: none;
  background: none;
}

.sorting-item .active {
  color: var(--basic-black);
}

.sorting-option {
  margin-right: 18px;
  font-size: 14px;
  line-height: 19px;
}

.sorting-down {
  position: absolute;
  right: -217px;
  top: -5px;
}

.sorting-up {
  position: absolute;
  right: -250px;
  top: -5px;
}

.not-active svg {
  fill: var(--basic-black-transp);
}

/*====results====*/

.results {
  grid-area: r;
}

.results h3 {
  display: inline-block;
  margin: 0;
  padding: 30px 80px 31px 0;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.results-items {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 40px;
  row-gap: 18px;
  margin: 0;
  padding: 69px 40px 9px 72px;
  list-style: none;
}

.title-box {
  position: relative;
}

.results .price {
  position: absolute;
  width: 85px;
  top: 32px;
  right: -5px;
  text-align: center;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.title-box-sm .price {
  top: 33px;
  right: 2px;
}

.title-box-ss .price {
  top: 35px;
  right: -2px;
}

.results-item img {
  position: relative;
  z-index: 10;
}

.hover-box {
  position: relative;
  z-index: -10;
  box-sizing: border-box;
  width: 300px;
  height: 380px;
  margin: auto;
  margin-top: -388px;
  padding-top: 180px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: var(--for-hover);
}

.hover-box .add,
.hover-box .btn-box {
  display: block;
  margin-bottom: 22px;
  text-align: center;
}

.btn-box a {
  box-sizing: border-box;
  padding: 3px 37px;
}

.hover-box .btn {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.new {
  position: relative;
}

.new::after {
  content: "";
  position: absolute;
  z-index: 15;
  top: 29px;
  right: 29px;
  width: 62px;
  height: 62px;
  background-image: url(../img/new.svg);
  background-repeat: no-repeat;
}

.for-hover:hover .hover-box {
  z-index: 10;
}

/*====pages====*/

.pages {
  grid-area: p;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  margin-left: 72px;
  margin-right: auto;
  margin-bottom: 78px;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background-color: var(--page-background);
}

.back-forward {
  display: inline-block;
  padding: 24px 28px 24px 30px;
}

.pages-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  margin-left: 8px;
  padding: 0;
  list-style: none;
}

.pages-item {
  padding: 23px 15px;
  color: var(--basic-black-transp);
}

.pages-item .active {
  color: var(--basic-black);
}

/*====footer-login====*/

.footer-login {
  margin-top: 0;
}

.additional-navigation-footer .logout {
  margin-left: 23px;
}

/*====stylegide=====*/

*:focus {
  outline: 2px solid var(--basic-black);
}

.logo svg:hover,
.logo svg:focus {
  opacity: 0.6;
}

.logo svg:active {
  opacity: 0.3;
}

.search:hover input::placeholder {
  color: var(--basic-black-transp-min);
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
  opacity: 0.6;
}

header a:active,
footer a:active {
  opacity: 0.3;
}

.btn:hover,
.btn:focus {
  background-color: var(--special-yellow-one);
}

.write-us .btn:hover,
.write-us .btn:focus {
  background-color: var(--special-yellow-light);
  background-image: none;
}

.btn:active {
  color: var(--basic-black-transp);
  background-color: var(--special-yellow-light);
  background-image: none;
}

.svg-box:hover,
.svg-box:focus {
  background-color: var(--special-yellow-one);
}

.svg-box:active svg {
  opacity: 0.3;
}

.best-link:active h3 {
  opacity: 0.3;
}

.services-item:active .btn::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: -7px;
  left: 0;
  width: 277px;
  height: 40px;
  background-color: var(--basic-black);
}

.services-item .btn:active {
  position: relative;
  z-index: 1;
  background-image: none;
  color: var(--special-yellow-light);
  outline: none;
}

.dji:hover,
.dji:focus {
  background-image: url(../img/logo-color-1.png);
}

.sp-gadgets:hover,
.sp-gadgets:focus {
  background-image: url(../img/logo-color-2.png);
}

.gopro:hover,
.gopro:focus {
  background-image: url(../img/logo-color-3.png);
}

.vive:hover,
.vive:focus {
  background-image: url(../img/logo-color-4.png);
}


.close:hover,

.close:focus {
  background-color: var(--special-yellow-two);
}


.close:active {
  opacity: 0.5;
}

.input-write:hover,
.textarea-write:hover {
  background-color: var(--hover-background);
}

.input-write:focus,
.textarea-write:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--special-yellow-light);
}

.write-us-form .input-error {
  background-color: var(--error);
  border: none;
}

.social-item a:hover,
.social-item a:focus,
.social-item a:active {
  opacity: 1;
}

.social-item svg:hover,
.social-item svg:focus {
  fill-opacity: 0.4;
}

.social-item svg:active {
  fill-opacity: 0.1;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:focus {
  color: var(--basic-black-transp-min);
}

.breadcrumbs-item a:active {
  color: var(--basic-black-transp-max);
}

.sorting-item .not-active:hover,
.sorting-item .not-active:focus {
  color: var(--basic-black-transp-min);
}

.sorting-item .not-active:active {
  color: var(--basic-black);
}

.up-down:hover,
.up-down:focus {
  fill-opacity: 0.4;
}

.up-down:active svg {
  fill: var(--basic-black);
}

.add:hover,
.add:focus {
  color: var(--basic-black-transp-min);
}

.add:active {
  color: var(--basic-black-transp-max);
}

.back-forward:hover,
.back-forward:focus {
  background-color: var(--dark-hover-grey);
}

.back-forward:active {
  color: var(--basic-black-transp);
}

/*===checkbox====*/

.check-input,
.radio-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filter .check-input:focus,
.filter .radio-input:focus {
  outline: none;
}

.check {
  position: relative;
  margin-left: 17px;
}

.check-box::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: -3px;
  left: -43px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 2px;
  cursor: pointer;
}

.check-input:checked+.check-box::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  top: 2px;
  left: -34px;
  border: 2px solid var(--basic-black);
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  cursor: pointer;
}

.check-radio::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: -3px;
  left: -41px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.radio-input:checked+.check-radio::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 5px;
  left: -33px;
  background-color: var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

.color-item:hover .check-box::before,
.color-item:hover .check-box::after,
.bluetooth-item:hover .check-radio::before,
.bluetooth-item:hover .check-radio::after {
  opacity: 0.6;
}

.color-item:focus .check-box::before,
.color-item:focus .check-box::after,
.bluetooth-item:focus .check-radio::before,
.bluetooth-item:focus .check-radio::after {
  opacity: 0.6;
  outline: -webkit-focus-ring-color auto 1px;
}

.check-input:checked:active+.check-box::after,
.radio-input:checked:active+.check-radio::after {
  display: none;
}

.check-input:disabled+.check-box::before,
.check-input:disabled+.check-box::after,
.radio-input:disabled+.check-radio::before,
.radio-input:disabled+.check-radio::after {
  opacity: 0.25;
}

.none {
  display: none;
}

/*====range-filter====*/

.range-filter {
  position: relative;
  width: 200px;
}

.range-controls {
  position: absolute;
  top: -19px;
}

.scale {
  height: 2px;
  width: 200px;
  background-color: var(--scale);
}

.bar {
  width: 125px;
  height: 2px;
  background-color: var(--special-green);
  opacity: 1;
}

.toggle {
  position: absolute;
  top: -8px;
  width: 19px;
  height: 25px;
  padding: 0;
  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: top center;
  cursor: pointer;
}

.toggle:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.toggle-max {
  left: 115px;
}

/*====animation====*/
@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
