
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

/*====Global====*/

body {
  width: 1440px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;  
}

img {
  max-width: 100%;  
}

a {
  text-decoration: none;
  color:inherit;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/*====Grid====*/

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

/*==========index.html==========*/

/*====header====*/

header {
  position: relative;
  width: 1160px;
  margin: auto;
  margin-top: 40px;
  background-color: #F7E296;  
}

header .logo {
  position: absolute;
  margin-left: 60px;
  margin-top: -20px;  

}

.user-navigation {
  display: flex;
  width: 1040px;
  margin: auto;
  margin-top: 44px;
}

.header-navigation {
  width: 1046px;
  margin: auto;
}

.search {
  margin-right: auto;
  margin-left: 38px;
  line-height: 20px;  
}

header .additional-navigation {
  display: flex;  
  width: 500px;
  line-height: 20px;
}

.login {
  margin-left: 25px;
}

header .compare {
  margin-left: auto;
}

header  .basket {
  margin-left: 65px;
}

.navigation-items {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header .navigation-item {
  margin-top: 50px;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;  
}

.catalog-items {
  display: grid;
  grid-template-columns: 240px 186px 1fr;
  grid-template-areas:
    "vr sb q"
    "mp sw ."
    "ac . .";
  margin: 0;
  padding: 0;
  padding-top: 14px;
  padding-bottom: 42px;
  list-style: none;
}

.vr {
  grid-area: vr;
} 

.sb {
  grid-area: sb;
} 

.q {
  grid-area: q;
}
    
.mp {
  grid-area: mp;
} 

.sw {
  grid-area: sw;
} 

.ac {
  grid-area: ac;
}

.catalog-item {
  margin-top: 16px;  
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none;
}

.navigation-catalog {
  width: 540px;  
  margin-left: 3px;
/*   outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px; */
}

header .navigation-ls {
  letter-spacing: 0.2em;
}

header .navigation-guarantee {
  margin-left: 36px;
}

header .navigation-contacts {
  margin-left: auto;
}

/*====promo====*/

.promo {
  position: relative;
  z-index: 10;
  width: 1040px;
  margin: auto;
  margin-top: -130px;
/*   outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px; */
}

.promo-article {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}  

.tagline {  
  margin: 0;
  margin-bottom: 0;
  padding-top: 94px;
  padding-left: 20px;
  padding-right: 0; 
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;  
/*   outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; */
}

.number {
  position: absolute;
  top: -18px;
  right: -13px;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 179px;
  line-height: 219px;
  font-weight: 800;
  text-transform: uppercase;
}

.promo-img {  
  margin-left: 29px;
}

.promo-content {  
  margin: 0;
  width: 450px;
  min-height: 90px;
  padding-top: 26px;
  padding-left: 20px;  
  line-height: 20px;
}

.promo-items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-box {    
  padding-top: 5px;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.promo-box .btn {
  display: inline-block;
  vertical-align: center;
  margin: 0;
  margin-left: 20px;  
  padding: 5px 45px;
}

.parameters-items {    
  padding-top: 46px;
}

.parameters-items td {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  padding-top: 7px;
  vertical-align: bottom;
}

.td-value {  
  min-width: 136px;
  margin: 0;
  padding: 0;  
  font-family: 'Gilroy', sans-serif;
  font-size: 36px;
  line-height: 42px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.parameters-items .td-value:nth-child(3) {
  padding-left: 0;
}

.parameters-items .td-value:only-child {
  padding-left: 20px;
}


.parameters-items .td-parameter {  
  padding-top: 13px;
  font-family: 'Gilroy', sans-serif;
  font-size: 13px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.parameters-items .td-parameter:last-child {
  padding-left: 4px;
}

/* .selfie-stick {
  display: none;
} */

.smart-band {
  display: none;
}

.quadcopter {
  display: none;
}

.smart-band .promo-img {
  padding-top: 27px;
  padding-left: 27px;
}

.smart-band .number {
  right: -5px;
}

.quadcopter .promo-img {
  padding-top: 84px;
  margin-left: -30px;
}

/*====best====*/

.best {
  width: 1160px;
  margin: auto;
  padding-top: 113px;
}

.best-items {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.best-item {
  width: 160px;
}

.best-item:not(:last-child) {
  margin-right: 40px;
}

.svg-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  margin-bottom: 39px;
  background-color: khaki;
}

.best-item h3 {
  margin: 0;
  padding: 0; 
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.best-item .not-ls {
  letter-spacing: 0;
}

/*====service====*/

.services {
  display: flex;
  flex-direction: row;
  padding-top: 133px;
  padding-bottom: 112px;
  background-color: grey;
}

.services-items {
  width: 443px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {  
  padding-top: 40px;  
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.services-item a {
  display: block;
  margin: auto;
  vertical-align: middle;
  text-align: center;
}

.services-contents {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-content {
  width: 495px;
  margin-top: 22px;
  margin-left: 98px;
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.services-content h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  padding-right: 10px;
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

/* .service-delivery {
  display: none;
} */

.service-guarantee {
  display: none;
}

.service-credit {
  display: none;
}

/*====producers====*/

.producers-items {
  display: flex;
  margin: 0;
  margin-top: 90px;
  padding: 0;
  list-style: none;
}

.producers-item {
  margin-right: 40px;
}

.producers-item:first-child {
  margin-left: auto;
}

.producers-item:last-child {
  margin-right: auto;
}

/*====box-info-contacts====*/

.box-info-contacts {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  width: 1160px;
  margin: auto;
  padding-top: 101px;
}

.box-info-contacts h2 {
  margin: 0;
  padding: 0;
  padding-top: 39px;
  padding-bottom: 40px;
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.box-info-contacts .content {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.box-info-contacts .btn {
  display: inline-block;
  margin-top: 71px;
  padding: 5px 25px;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*====info====*/

.info {
  padding-right: 105px;
}

.transport-items {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 32px;
  list-style: none;
}

.transport-item {    
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 800;   
}

.transport-item:not(:last-child) {  
  padding-bottom: 15px;
} 

/*====contacts====*/

.contacts .btn {
  padding: 5px 40px;
}

/*====footer====*/

footer {
  display: grid;
  grid-template-areas: 
   "fl . anf"
   "ad fn cp"
   ". soc cr";
   grid-template-columns: 352px 460px 1fr;
  margin-top: 84px;
  padding: 40px 140px;
}

footer .logo {
  grid-area: fl;
  margin-top: 22px;
  margin-bottom: 25px;
}

.additional-navigation-footer {
  grid-area: anf;
  display: flex;
  justify-content: space-between;  
  padding-left: 22px;
}

address {
  grid-area: ad;
  margin-top: 7px;
  font-style: normal;
  line-height: 20px;
}

.footer-navigation {
  grid-area: fn;
  margin-top: 6px;
}

.footer-navigation .navigation-items {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase; 
}

.contacts-phone {
  grid-area: cp;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  text-align: end;
}

.contacts-phone .phone{
  margin-left: 4px;
}

.social {
  grid-area: soc;
  display: flex;
  list-style: none;
}

.copyright {
  grid-area: cr;
}

/*====write-us====*/

.write-us label {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
}

.write-us input {
  font-size: 14px;
  line-height: 19px;
}

.write-us button {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
}

/*==========catalog.html==========*/

.catalog-h1 {
  font-family: 'Gilroy', sans-serif;
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;  
}

/*====search====*/

.search h2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.search .btn {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-item legend {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 800;
  letter-spacing: 0.1em
}

.price-center {
  font-family: 'Gilroy', sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;  
}

.color-item,
.bluetooth-item {
  font-size: 14px;
  line-height: 19px;
}

/*====sorting-rating====*/

.sorting-rating h2 {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.sorting-option {
  font-size: 14px;
  line-height: 19px;
}

/*====results====*/

.results h3 {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.05em;
}

.results .price {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.hover-box {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.hover-box .btn {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/*====pages====*/

.pages {
  font-family: 'Gilroy', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}